.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-cursor {
    display: inline-block;
    width: .1vw;
    height: 1.6vw;
    background-color: green;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}
@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
